@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif; 
}
/* Header Section Start */
.header{
    background: linear-gradient(to bottom, #000000, #191919, #2b2b2b, #3e3e3e, #525252, #525252, #525252, #525252, #3e3e3e, #2b2b2b, #191919, #000000);
}
.nav{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}
.nav-title{
    align-items: center;
}
.fitness{
    color: rgb(230, 83, 60);
    font-size: 2.4rem;
    font-weight: 800;
    font-style: italic;
}
.nav-menu {
	display: flex;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 39px;
	justify-content: space-between;
	padding: 0 12px 0 3px;
}
.nav-menu ul{
    display: flex;
}
.icon{
    display: none;
   }
   .nav-menu ul, li a {
	text-decoration: none;
	list-style: none;
	padding: 0 10;
	color: rgb(255, 255, 255);
	gap: 45px;
	align-items: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 100%;
}
.color {
	border-radius: 18px;
	background: rgb(230, 83, 60);
	padding: 12px 30px;
}
.header-primary{
    width: 1440px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    margin-top: 50px;
}
.header-secondary{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-secondary-title{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 700;
    line-height: 123%;
}
.block{
    display: block;
}
.font-style{
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 300;
    line-height: 45%;
}
.header-secondary-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 30px;
}
.btn{
    margin-top: 35px;
}
.btn-primary {
	border-radius: 42px;
	background: rgb(230, 83, 60);
	border: none;
	padding: 12px 30px;
	color: rgb(255, 255, 255);
	font-size: .9rem;
	font-weight: 600;
	line-height: 22px;
    cursor: pointer;
}
.btn-extra{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;  
    background-color: rgb(0, 0, 0); 
    margin-left: 15px; 
}
.header-image{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
}
.parent{
    position: relative;
}
.child-one{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 22px;
    display: flex;
    align-items: center;
    bottom:70px;
    left: -469px;
}
.child-three{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    position: relative;
}
.child-four{
    margin-left: 10px;
}
.child-four-title {
	color: rgb(250, 250, 249);
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 24px;
}
.child-four-subtitle{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.child-two {
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.1);
	bottom: 352px;
	right: 54px;
	padding: 10px 12px;
}
.child-two-title {
	color: rgb(255, 255, 255);
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 1px;
}
.child-two-subtitle{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;    
}
/* Main section start */
#main{
    background: rgb(0, 0, 0);
}
.habits{
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    
}
.habit{
    padding-top: 70px;
}
.habit-title {
	color: rgb(255, 255, 255);
	font-size: 2.8rem;
	font-weight: 900;
	line-height: 120%;
}
.habit-subtitle {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.3px;
	margin: 16px auto;
	max-width: 48%;
}
.habit-card{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card-image img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.card-image{
    border: 5px  solid #191919;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
}
.card-title{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 15px;
}
.card-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-top: 10px;
}
/* Start Run Section */
.run{
    width: 1440px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    margin-top: 100px;
}
.extra-image img {
	width: 479px;
	border-radius: 18px;
	height: 393px;
	object-fit: none;
	object-position: 68% 35%;
}
.mile-easily{
    display: flex;
    justify-content: space-between;
    padding: 28px;
}
.extra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.run-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;    
}
.run-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    width: 51%;
}
.join-now{
    margin-top: 25px;
}
.join-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 11px 60px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
}
.play-icon {
	position: absolute;
	top: 10px;
	left: 15px;
	color: rgb(250, 250, 249);
    display: none;
}
/* Trainings section start */
#Trainings{
    max-width: 1840px;
    margin: 0 auto;
}
.exercises{
    margin-top: 60px;
}

.exercises-title{
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 120%;
}
.exercises-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 12px;
}
.trainings-images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.exercises-image{
    position: relative;
}
.img-one {
	max-width: 360px;
	height: 290px;
}
.img-two{
    width: 630px;
    height: 290px;
    position: relative;
}
.img-three {
	width: 450px;
	height: 290px;
}
.img-four {
	width: 497px;
	height: 290px;
}
.img-five{
    width: 450px;
    height: 290px;
}
.img-six {
	width: 493px;
	height: 290px;
}
.title-one {
	position: absolute;
	top: 72%;
	left: 7%;
}
.title-three {
	position: absolute;
	top: 72%;
	left: 7%;
}
.title-four {
	position: absolute;
	top: 10%;
	left: 68%;
}
.images-title{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.bmi-calculator {
	width: 1440px;
	margin: 50px auto;
} 
.Calculator-title {
	color: rgb(255, 255, 255);
	font-size: 2.8rem;
	font-weight: 800;
	line-height: 120%;
	margin-top: 91px;
	margin-left: 160px;
}
.Calculator-subtitle {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.3px;
	margin-left: 160px;
}
/* BMI calculator Start */
.calculator-two{
    display: flex;
    flex-direction: column;
}
.calculator {
	background-color: rgb(34, 34, 34);
	margin-top: 70px;
	padding-bottom: 40px;
}
.calculator-bmi {
	width: 940px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.calculator-two{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.Calculator-table{
    margin-top: 30px;
}
.calculator-one-title{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 50px;
}
.t-head{
    text-align: start;
}
.cl-table, .row-table, .col-table{
	border-collapse: collapse;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 14px 30px;
}
.row-table{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.col-table{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.calculator-one-subtitle {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.3px;
	margin-top: 15px;
	width: 74%;
}
.form-one {
	margin-top: 30px;
}
.form-two {
    display: flex;
    flex-wrap: wrap;
}
.form-four{
    margin-left: 10px;
}
.form-seven{
    margin-left: 10px;
}
.input-one {
	border: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	height: 45px;
	width: 349px;
}
.input-one[type="text"] {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	padding-left: 16px;
}
.form-five{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.select-one {
	border: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.3);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	height: 45px;
	width: 366px;
	padding-left: 16px;
	appearance: none;
}
.form-eight{
    margin-top: 10px;
}
.select-two {
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.3);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	border: none;
	height: 45px;
	width: 741px;
	padding-left: 16px;
    appearance: none;
}
.form-seven, .form-eight{
    display: flex;
    position: relative;
}
.select-three {
	position: absolute;
	top: 12px;
	left: 88%;
	transform: rotate(180deg);
	color: rgba(255, 255, 255, 0.3);
	bottom: 12px;
    pointer-events: none;
}
.select-four {
	position: absolute;
	top: 12px;
	left: 92%;
	transform: rotate(180deg);
	color: rgba(255, 255, 255, 0.3);
	bottom: 12px;
    pointer-events: none;
}
.btn-two{
    margin-top: 30px;
}
.btn-form {
	border-radius: 42px;
	background: rgb(230, 83, 60);
	color: rgb(255, 255, 255);
	border: none;
	font-size: 18px;
	font-weight: 599;
	line-height: 22px;
	padding: 12px 57px;
}
/* Meet our Team */
.our-team {
	width: 1440px;
	margin: 0 auto;
	padding: 30px 0;
}
.team-title {
	color: rgb(255, 255, 255);
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 120%;
	text-align: center;
}
.team-subtitle {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.3px;
	text-align: center;
	width: 40%;
	margin: 0 auto;
	padding-top: 10px;
}
.meet-one {
	width: 940px;
	border-radius: 18px;
	background: rgba(255, 255, 255, 0.1);
	margin: 0 auto;
}
.meet-two{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.meet-four img {
	width: 452px;
	border-radius: 18px;
	height: 410px;
	filter: contrast(129%) brightness(71%);
}
.meet-three{
    position: relative;
}
.meet-five {
	position: absolute;
	z-index: 1;
	bottom: 40px;
	left: 30px;
}
.meet-five h4 {
	font-size: 1.7rem;
	color: rgb(255, 255, 255);
	font-weight: 800;
}
.meet-five p{
	color: rgba(255, 255, 255,0.7 );
    font-size: 1.2rem;
    margin-top: 5px;
    opacity: 0.7;
}
/* Time Section Start */
.workout {
	width: 1440px;
	padding-top: 70px;
	margin: 0 auto;
	text-align: center;
}
.workout-title{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.workout-subtitle{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    margin-top: 10px;
}
.main-table, .padding{
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.time-table {
	padding: 30px 0 75px 0;
	width: 1440px;
	margin: 0 auto;
}
.background {
	background: rgb(230, 83, 60);
	font-size: 1.1rem;
	font-weight: 600;
}
.table-one {
	color: rgb(255, 255, 255);
	font-size: 1.0rem;
	font-weight: 600;
}
.table-tai {
	font-size: 1.1rem;
	font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}
.table-tai-2{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.center{
    text-align: center;
}
.padding {
	height: 82px;
	width: 9%;
}
.t-display{
    display: none;
}
.table-color{
    color: rgb(255, 255, 255);
	font-size: 1.1rem;
	font-weight: 600;
}
/* start footer section */
.footer-head {
	width: 1440px;
	margin: 0 auto;
	padding: 55px 0 35px 0;
}
#footer{
    background-color: #222222;
    color: #fff;
}
.footer-parent{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-list {
	list-style: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
	font-weight: 400;
	line-height: 130%;
    cursor: pointer;
}
.footer-child{
    width: 60%;
    margin-top: 30px;
}
.footer-title {
	font-size: 3rem;
	font-style: italic;
	color: #E6533C;
}
.footer-subtitle {
	margin-top: 15px;
	line-height: 25px;
	opacity: 0.7;
    width: 55%;
}
.footer-child-title{
    font-size: 1.7rem;
    font-family: 600;
}
.footer-list li{
    margin: 20px 0;
    font-size: 1.3rem;
}
.line{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bottom {
	width: 1440px;
	margin: 0 auto;
	padding: 30px 0 15px 0;
}
.reserved{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px
}
/* small device */
 @media screen and (max-width:576px) {
    /* Header Section start */ 
    .nav{
     max-width: 90%;   
    }
    .nav-menu{
        display: none;
    }
    .icon{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
   }
   .icon i {
        color: #fff;
        font-size: 1.7rem;
    }
    .header-primary{
        display: flex;
        flex-direction: column;
   }
   .header-primary{
        max-width: 90%;
   }
   .header-secondary-title{
        font-size: 2.7rem;
        line-height: 133%;
    }
    .font-style {
        font-size: 5.3rem;
    }
    .header-secondary-subtitle{
        font-size: 1.0rem;
        width: 55%;
    }
    .header-image{
        margin: 0 auto;
        padding-top: 50px;
    }
    .child-two {
        bottom: 444px;
        right: -65px;
        padding: 6px 8px;
    }
    .child-two-title {
        font-size: 2.0rem;
    }
    .child-two-subtitle {
        font-size: 0.7rem;
    }
    .btn-primary {
        height: 51px;
        width: 170px;
    }
    .child-one {
        bottom: 239px;
        left: -364px;
        padding: 18px 10px;
    }
    .play-icon{
        display: block;
    }
    /* Main Section Start */
    .habits{
        max-width: 90%;
    }
    .habit{
        padding-top: 5px;
    }
    .habit-title {
        font-size: 2.3rem;
    }
    .habit-subtitle {
        max-width: 82%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .habit-card {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .card-image {
        margin-top: 46px;
    }
    /* Run Section */
    .run{
        max-width: 90%;
    }
    .mile-easily{
        display: flex; 
        flex-direction: column;
    }
    .run-title {
        font-size: 2.5rem;
    }
    .run-subtitle {
        width: 67%;
    }
    .extra-image{
        margin-top: 30px;
    }
    .extra-image img{
        width: 100%;  
    }
    .join-primary {
        font-size: 1.3rem;
        margin: 0 auto;
        height: 56px;
        width: 100%;
        text-align: center;
        font-family: inter;
        font-weight: 600;
    }
    /* Trainings and Exercises */
    .exercises{
        display: none;
    }
    .trainings-images{
        display: none;
    }
    .bmi-calculator {
       max-width: 90%;
    }
    .Calculator-title{
        font-size: 2.2rem;
        margin-left: 0px;
    }
    .Calculator-subtitle{
        width: 67%;
        margin-left: 0px;
        margin-top: 20px;
    }
/* Bmi calculator start */
    .calculator-bmi{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .cl-table, .row-table, .col-table {
        padding: 18px 33px;
    }
    .input-one {
        width: 163px;
    }
    .select-one {
        width: 179px;
    }
    .select-two {
        width: 369px;
    }
    .select-three{
        left: 76%;
    }
    .select-four {
        left: 69.1%;
    }
    .calculator-one-subtitle{
        width: 75%;
    }
    /* Meet Our Team */
    .our-team{
        max-width: 90%;
    }
    .meet-five h4 {
        font-size: 1.4rem;
        font-weight: 700;
    }
    .team-subtitle {
        width: 70%;
    }
    .meet-one {
        max-width: 400px;
    }
    .meet-four img {
        width: 370px;
        height: 341px;
    }
    /* Workout Timetable */
    .workout{
        max-width: 90%;
    }
    .workout-title{
        font-size: 2.2rem;
    }
    .table-tai{
        font-size: 0.9rem;
    }
    .time-table{
        max-width: 90%;
    }
    /* Footer Section start */
    .footer-head{
        width: 90%;
    }
    .footer-parent {
        display: flex;
        flex-direction: column;
    }
    .footer-subtitle {
        width: 116%;

    }
    .footer-child-two, .footer-child-three{
        margin-top: 50px;
    }
    .line{
        max-width: 97%;
    }
    .footer-bottom{
        max-width: 90%;
    } 
 }
/* Desktop Responsive */
@media screen and (min-width:992px){
    .nav{
       max-width: 95%; 
    }
    .header-primary{
        max-width: 95%;
    }
    .habits{
        max-width: 95%;
    }
    .run{
        max-width: 95%;
    }
    /* Trainings section */
    .exercises{
        display: none;
    }
    .trainings-images{
        display: none;
    }
    .bmi-calculator{
        max-width: 95%;
    }
    .Calculator-subtitle{
        width: 68%;
    }
    /* BMI Calculator */
    .input-one{
        width: 214px;
    }
    .select-one{
        width: 230px;
    }
    .select-two{
        width: 469px;
    }
    .select-three{
        left: 80%;
    }
    .select-four{
        left: 90.4%;
    }
    /* Meet Our Team */
    .our-team{
        max-width: 95%;
    }
    .team-subtitle{
        width: 42%;
    }
    .meet-one{
        max-width: 95%;
    }
    .meet-two {
        gap: 12px;
        padding: 20px;
    }
    .meet-four img {
        max-width: 292px;
        height: 305px;
    }
    /* Workout Timetable */
    .workout{
        max-width: 95%;
    }
    .time-table{
        max-width: 95%;
    }
    /* Footer Section Start */
    .footer-head{
       max-width: 95%;
    }
    .footer-parent{
        max-width: 100%;
    }
    .line{
        max-width: 95%;
    }
    .footer-child{
        width: 45%;
    }
    .footer-bottom{
        max-width: 95%;
    }
    .footer-subtitle{
        width: 100%;
    }
}
